@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,5);
    background: black;
 }
.navbar  .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29ff !important;
    }
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transport;
} 
#navbarSupportedContent a:hover{
    border-bottom: 2px solid #29ff;
}
#navbarSupportedContent button{
    background: #29ff;
    width: 5rem;
    border-radius: 10px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****HOME****/

#home{
    background: url(home.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
#home h1{
    font-size: 100px;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}
#home p{
    font-size: 20px;
    flex-direction: column;

}



#home .input-group{
    width: 40%;
    height: 45%;
}
.signin{
    background-color: #29ff !important;
    color: white !important;
}


#about p{
    font-size: 20px;
    
 }
 #about{
    
    background: url(about.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
   

 }
 #about h1{
    
    text-align: center;
    font-weight: 1000;
    font-size: 50px;
 }


   /*******products*******/

   #product{
       background: #8da4af;
}
   #product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
   #product img{
       width: 200px;
       height: 200px;
}
.card{
    background: #e5e5e5 !important;
    border :none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),inset 4px 4px 10px white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#contact{
    background: url(home.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;

}
#contact textarea{
    margin: 10px 0px;
}